body{
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: grey;
}

li {
    font-style: inherit;
    font-weight: normal; 
}

a {
    color: white;
}
.bold {
    font-weight: bold;
}

.justify {text-align: justify;}.homebg {
    background-image: url('images/background.jpg');
    color: white

}